*, *::before, *::after {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    margin: 0;
    background: linear-gradient(#0A2E49 600px, transparent 600px), #EEEDE6;   
    background-repeat: no-repeat; 
    min-height: 100vh;
    background-size: 100% 100%;
    visibility: hidden;
}

body.ready {
    visibility: visible;
}

.hello {
    max-width: 75rem;
    min-height: 42rem;
    margin: 4rem auto 0;
    display: flex;
    background: #fff;
    border-radius: 15px;
    box-shadow: 2px 4px 7px #6d6d6d;
}

.hello-img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: #ff0000 1px solid;  */
}

.hello-img img{
    /* height: 70%; */
    max-width: 60%;
    border: 8px #EEEDE6 solid;
    border-radius: 25px;
    box-sizing: border-box;
    transition: border 0.5s ease;
}

.hello-img img:hover{    
    border: 8px #556D86 solid;
}

.hello-text {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 0 60px;
    box-sizing: border-box;
}

.iam {
    font-weight: 900;
    font-size: 1.375rem;
    letter-spacing: 2.5px;
    margin-top: 5rem;
    color: #556D86;
}

.iam-glauber {
    font-weight: 850;
    font-size: 2.5rem;
    letter-spacing: 3.5px;
    margin: 0;
    color: #0A2E49;
}


.iam-title {
    font-weight: 850;
    font-size: 1.6rem;
    letter-spacing: 1.5px;
    margin-top: 2rem;
    color: #556D86;
}

.iam-description {
    font-weight: 500;
    font-size: 1rem;
    margin-top: 1rem;
    letter-spacing: 1px;
    text-align: justify;
    color: #556D86;
}

.socials {
    margin: 3.5rem auto 4rem;
    padding-right: 1.875rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.socials img{
    filter: brightness(1) invert(0);
    transition: scale 0.5s;
}

.socials img:hover{
    filter: brightness(0.2) invert(0.7);
    scale: 1.15;
}

@media (max-width: 1024px){
    body {
        background: linear-gradient(#0A2E49 480px, transparent 480px), #EEEDE6;   
    }
    .hello {
        margin: 7rem auto 0;
    }
    .hello-img {
        width: 50%;
        /* border: red 1px solid; */
    }
    .hello-img img{
        max-width: 65%;
    }
    .hello-text {
        padding: 0 1.8rem;
    }
    .iam {
        font-size: 1.2rem;
        margin-top: 4rem;
    }
    .iam-glauber {
        font-size: 2rem;
        letter-spacing: 3.3px;
    }
    .iam-title {
        font-size: 1.2rem;
        letter-spacing: 1.1px;
        margin-top: 3rem;
    }    
    .iam-description {
        font-size: 0.9rem;
    }
    .socials {
        margin: 4.5rem auto 2rem;
        padding-right: 0;
        gap: 0.6rem;
    }
    .socials img {
        max-height: 1.7rem;
    }

}

@media (max-width: 768px){    
    .hello {
        margin: 7rem auto 0;
        display: block;        
    }
    .hello-img {
        width: 100%;
        padding: 1rem 0 ;
        /* border: red 1px solid; */
    }
    .hello-img img{
        max-width: 65%;
        margin: 0;
    }
    .hello-text {
        width: 100%;
        padding: 0 2rem;
    }
    .iam {
        font-size: 1.2rem;
        margin-top: 1rem;
    }
    .iam-glauber {
        font-size: 2rem;
        letter-spacing: 3.3px;
    }
    .iam-title {
        font-size: 1.2rem;
        letter-spacing: 1.1px;
        margin-top: 1rem;
    }    
    .iam-description {
        font-size: 0.9rem;
    }
    .socials {
        margin: 3.5rem auto 2rem;
        padding-right: 0;
        display: flex;
        align-items: center;
        gap: 0.6rem;
    }
    .socials img {
        max-height: 1.7rem;
    }

}